
.size_85 {
    width:1192px;
    height:768px;
    transform: scale(0.8); 
    transform-origin:0 0; 
    -ms-transform: scale(0.85); //ie 
    -ms-transform-origin:0 0; 
    -moz-transform: scale(0.85); //firefox 
    -moz-transform-origin:0 0; 
    -o-transform: scale(0.85); //opera 
    -o-transform-origin: 0 0; 
    -webkit-transform: scale(0.85); //chrome 
    -webkit-transform-origin: 0 0; 
	overflow:hidden;
}



		