extends layout

block content
    div(class="row")
        div(class="col-md-5")
            table(class="CIinfoTbl table table-striped table-bordered table-hover table-condensed")
                thead(id="infoHead")
                    tr
                        th(class="text-center")                             
                        th(class="text-center text-info bg-info") all builds number
                        th(class="text-center text-info bg-info") failure number
                        th(class="text-center text-info bg-info") aborted number
                tbody(id="infobody")
                    tr
                        th(class="text-center text-info bg-info") build Info                            
                        td(class="currentSubmitBranch text-center") 0
                        td(class="currentSubmitTime text-center") 0
                        td(class="currentSubmitTime text-center") 0						
    h4 [1]-The whole CI emerald duration:
    div(id="theWholeCIemerald",style="width:600px;height:250px;")
    h4 [2]-The whole CI nonEmerald duration:
    div(id="theWholeCInonemerald",style="width:600px;height:250px;")
    h4 [3]-On Target Build duration:
    div(id="onTargetbuild",style="width:600px;height:250px;")
    h4 [4]-On Target Test duration:  
    div(id="onTargetTest",style="width:600px;height:250px;")  
    h4 [5]-Off Target Build duration:
    div(id="offTargetbuild",style="width:600px;height:250px;")
    h4 [6]-Off Target Test duration:  
    div(id="offTargetTest",style="width:600px;height:250px;") 
    h4 [7]-Emerald test case number:  
    div(id="EmerTestCaseNum",style="width:600px;height:250px;")
    h4 [8]-nonEmerald test case number:  
    div(id="nonEmerTestCaseNum",style="width:600px;height:250px;")
    h4 [9]-Original repo size:  
    div(id="repoSizeOriginal",style="width:600px;height:250px;")
    h4 [10]-Checkouted repo size:  
    div(id="repoSizeCheckout",style="width:600px;height:250px;")
    h4 [11]-Branch number:  
    div(id="branchNumber",style="width:600px;height:250px;")
  
    h4 [12]-Original repo size usage:  
    div( id="originRepoSizePlot",style="width:600px;height:400px;") 
    h4 [13]-Checkouted repo size usage:  
    div( id="userRepoSizePlot",style="width:600px;height:400px;")      
    h4 [14]-Repo branch number usage:  
    div( id="repoBrhCntPlot",style="width:600px;height:400px;")        
    
block userdefinejs
    script(src="/javascripts/CIDashboard.js")     
  

