extends layout

block content
  div.container-fluid
    div.row-fluid
      div(class="col-sm-12")
        div(class="panel panel-primary")
          div(class="panel-heading") <span class="glyphicon glyphicon-stats"></span> CI status
          div(class="panel-body")
            div(class="col-sm-12")
              div(class="tabbable tabs-below")
                ul(class="nav nav-tabs")
                  li(class="active")
                    a(href="#ciTabEmer" data-toggle="tab") Emerlad CI
                  li
                    a(href="#ciTabNonEmer" data-toggle="tab") Non-Emerlad CI
                div(class="tab-content")
                  div(class="tab-pane active" id="ciTabEmer")
                    - var escapseRow=0
                    while escapseRow<2
                      br
                      - escapseRow++
                    
                    - var escapseSpace=0
                    while escapseSpace<90
                      | &nbsp
                      - escapseSpace++
                      
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp              
                    a(class="buildFwState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-building fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : build fw
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    | &nbsp&nbsp
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="testFwState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-flask fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : test fw
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start
                    br
                    br
                    | &nbsp&nbsp              
                    a(class="idleState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-coffee fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : idle
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    | &nbsp&nbsp
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="preCheckState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-download fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : pre check
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start
                    
                    - escapseSpace=0
                    while escapseSpace<100
                      | &nbsp
                      - escapseSpace++
                      
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="preReleaseState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-check-square-o fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : pre release
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    br
                    br        
                    - escapseSpace=0
                    while escapseSpace<90
                      | &nbsp
                      - escapseSpace++
                      
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp              
                    a(class="buildWin32State btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-building fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : build win32
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    | &nbsp&nbsp
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="testWin32State btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-flask fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : test win32
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start
                  
                  div(class="tab-pane" id="ciTabNonEmer" )   
                    - var escapseRow=0
                    while escapseRow<2
                      br
                      - escapseRow++
                    
                    - var escapseSpace=0
                    while escapseSpace<90
                      | &nbsp
                      - escapseSpace++
                      
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp              
                    a(class="buildFwState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-building fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : build fw
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    | &nbsp&nbsp
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="testFwState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-flask fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : test fw
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start
                    br
                    br
                    | &nbsp&nbsp              
                    a(class="idleState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-coffee fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : idle
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    | &nbsp&nbsp
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="preCheckState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-download fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : pre check
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start
                    
                    - escapseSpace=0
                    while escapseSpace<100
                      | &nbsp
                      - escapseSpace++
                      
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="preReleaseState btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-check-square-o fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : pre release
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    br
                    br        
                    - escapseSpace=0
                    while escapseSpace<90
                      | &nbsp
                      - escapseSpace++
                      
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp              
                    a(class="buildWin32State btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-building fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : build win32
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start 
                    | &nbsp&nbsp
                    i(class="fa fa-arrow-circle-right fa-lg")
                    | &nbsp&nbsp
                    a(class="testWin32State btn btn-md btn-default" href="#" style="width: 150px")
                      i(class="fa fa-flask fa-lg")
                      p(class="text-center" style="margin-bottom:0px") Phase : test win32
                      p(class="text-center" style="margin-bottom:0px") 
                        | Status:
                        span(class="statusStr") not start
                  
          
                
    div.row-fluid
      div(class="col-sm-6")
        div(class="panel panel-primary")
          div(class="panel-heading") <span class="glyphicon glyphicon-envelope"></span> Release Notes
          div(class="panel-body")
            - var n=0
            while n<4
              h3 Release Note #{n}
              p note 1
              p note 2
              p note 3
              - n++
      div(class="col-sm-6")
        div(class="panel panel-primary")
          div(class="panel-heading")
            p <span class="glyphicon glyphicon-edit"></span> Feedback
          div(class="panel-body")
            form(id="feedback_form" role="form")
              div(class="form-group")
                label you opinion about Git:
                label(style="padding-left:20px;" class="radio")   
                  input(type="radio" name="GitUsage" value="Git_Excellent")
                  Git is much better than clearcase<br>
                label(style="padding-left:20px;" class="radio")
                  input(type="radio" name="GitUsage" value="Git_Not_Bad")
                  Git is good to use<br>   
                label(style="padding-left:20px;" class="radio")
                  input(type="radio" name="GitUsage" value="Git_Poor")
                  Git disappoint me<br>  
              
              div(class="form-group")
                label(for="comment") Welcome your voice:
                textarea(class="form-control" rows="5" id="comment")
                
              div(class="form-group")
                label core id(Good Suggest have Motocoin):
                input(type="text" class="form-control" id="Feedback_coreId")
                
              
              button(id="submit_btn" type="submit" class="btn btn-info") Submit
              | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              a(href="/feedback/gitall" class="text-info") Show All              
              h3(id="feedback_status",class="text-primary")
              
    
block userdefinejs
  script(src="/javascripts/index.js")   
  

