extends layout

block content
  div.container-fluid
    div.row-fluid
      div(class="col-sm-12")
        div(class="panel panel-primary")
          div(class="panel-heading") 
            h3 <span class="glyphicon glyphicon-stats"></span> CI status
          div(class="panel-body")
            div(class="col-sm-12")
                - var escapseRow=0
                while escapseRow<2
                   br
                   - escapseRow++
                div(class="row")
                  div(class="col-md-5")
                    table(class="CIinfoTbl table table-striped table-bordered table-hover table-condensed")
                      thead
                        tr
                          th(class="text-center")                             
                          th(class="text-center text-info bg-info") submitter
                          th(class="text-center text-info bg-info") branch                              
                          th(class="text-center text-info bg-info") submit time
                      tbody(id="ciQTbl")
                        tr
                          th(class="text-center text-info bg-info") running CI                            
                          td(class="currentSubmitter text-center") na
                          td(class="currentSubmitBranch text-center") na                              
                          td(class="currentSubmitTime text-center") na
                br
                - var escapseSpace=0
                while escapseSpace<110
                  | &nbsp
                  - escapseSpace++

                div(class="warningImg panel-body" style= "position:absolute;left:5px;top:150px;display:none;")
                  img(src="/images/iWarning.png" class="img-circle" width="100" height="100" style="margin-bottom:0px;")
                       
                div(class="alert alert-danger" style= "position:absolute;left:130px;top:90px;background: rgba(222,222,222, 0.7);border-color:#ddd;display:none;")
                  p(style="font-size:80px;font-weight: bold") Warning !!! CI blocked

                  p(style="font-size:40px;color:#000;") 
                    |Block Reason:  DAT test failed on tag 
                    span(class="releaseTagStr" style="font-weight: bold") na
                  p(style="font-size:40px;color:#000;") 
                    |Last Success Tag: 
                    span(class="successTagStr" style="font-weight: bold") na
                  p(style="font-size:40px;color:#000;")
                    |The Submitter(s): 
                    span(class="submitterStr" style="font-weight: bold") na
                i(class="fa fa-arrow-circle-right fa-lg")
                | &nbsp&nbsp              
                a(class="buildFwState btn btn-md btn-default" href="https://10.193.226.152:8080/view/PCR-REPT-2.7/job/PCR-REPT-On_Target_Build_MultiJob/" target="_blank" style="width: 150px")
                  i(class="fa fa-building fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : build fw
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start 
                | &nbsp&nbsp
                i(class="fa fa-arrow-circle-right fa-lg")
                | &nbsp&nbsp
                a(class="testFwState btn btn-md btn-default" href="https://10.193.226.152:8080/view/PCR-REPT-2.7/job/PCR-REPT-On_Target_Test_MultiJob/" target="_blank" style="width: 150px")
                  i(class="fa fa-flask fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : test fw
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start
                br
                br
                | &nbsp&nbsp              
                a(class="idleState btn btn-md btn-default" href="#" style="width: 150px")
                  i(class="fa fa-coffee fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : idle
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start 
                | &nbsp&nbsp
                i(class="fa fa-arrow-circle-right fa-lg")
                | &nbsp&nbsp
                a(class="preCheckState btn btn-md btn-default" href="https://10.193.226.152:8080/view/PCR-REPT-2.7/job/PCR-REPT-Git-Integration/" target="_blank" style="width: 150px")
                  i(class="fa fa-download fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : pre check
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start
                    
                - escapseSpace=0
                while escapseSpace<100
                  | &nbsp
                  - escapseSpace++

                i(class="fa fa-arrow-circle-right fa-lg")
                | &nbsp&nbsp
                a(class="preReleaseState btn btn-md btn-default" href="https://10.193.226.152:8080/view/PCR-REPT-2.7/job/PCR-REPT-Git-Release/" target="_blank" style="width: 150px")
                  i(class="fa fa-check-square-o fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : pre release
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start 
                - var escapseRow=0
                while escapseRow<2
                   br
                   - escapseRow++
                - escapseSpace=0
                while escapseSpace<90
                  | &nbsp
                  - escapseSpace++
                      
                i(class="fa fa-arrow-circle-right fa-lg")
                | &nbsp&nbsp              
                a(class="buildWin32State btn btn-md btn-default" href="https://10.193.226.152:8080/view/PCR-REPT-2.7/job/PCR-REPT-Off_Target_Build_MultiJob/" target="_blank" style="width: 150px")
                  i(class="fa fa-building fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : build win32
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start 
                | &nbsp&nbsp
                i(class="fa fa-arrow-circle-right fa-lg")
                | &nbsp&nbsp
                a(class="testWin32State btn btn-md btn-default" href="https://10.193.226.152:8080/view/PCR-REPT-2.7/job/PCR-REPT-Off_Target_Test_MultiJob/" target="_blank" style="width: 150px")
                  i(class="fa fa-flask fa-lg")
                  p(class="text-center" style="margin-bottom:0px") Phase : test win32
                  p(class="text-center" style="margin-bottom:0px") 
                    | Status:
                    span(class="statusStr") not start
                - var escapseRow=0
                while escapseRow<2
                   br
                   - escapseRow++
            
    div.row-fluid
      div(class="col-sm-12")
        div(class="panel panel-primary")
          div(class="panel-heading") 
            h3 <span class="glyphicon glyphicon-th-list"></span> CI history 
          div(class="panel-body")
            table(class="table table-striped table-bordered table-hover table-condensed" id="ciHistoryTbl")
              thead
                tr
                  th(class="text-center") Result
                  th(class="text-center") Build ID 
                  th(class="text-center") Release Tag
                  th(class="text-center") Submitter
                  th(class="text-center") Release Time
                  th(class="text-center") On-Target Build
                  th(class="text-center") Off-Target Build
                  th(class="text-center") Win32 UT 
                  th(class="text-center") Win32 IT
                  th(class="text-center") Coverage 
                  th(class="text-center") Code Static Check
                  th(class="text-center") On-Target Sanity Test
                  th(class="text-center") Extended Regression Test
              tbody(class="text-center" id="historyList")
      div(class="col-sm-6")
        div(class="panel panel-primary")
          div(class="panel-heading") 
            h3 <span class="glyphicon glyphicon-envelope"></span> Major updates
          div(class="panel-body" style="height:420px;overflow:auto")
            h3(class="text-primary") V1.3:
               img(src="/images/new_icon_yellow.gif")
            ol
              li
                | Use JIRA to tracking suggestion
              li
                | Besides submitter and submit name, display branch name in CI status   
              li
                | Fix display time in pending queue not correct issue
            h3(class="text-primary") V1.2:
            ol
              li
                span 
                  | Translate Repo server from Gitlab to BitBucket, 
                  | you can follow up this doc to do the transition                  
                  i(class="fa fa-hand-o-right fa-3x")
                  a(href="/doc/Migrate from gitlab to bitBucket.docx")
                    |click me
              li
                | Combine emerald and NonEmerald CI to 2.7 CI, this release contain the first step, combine nonEmerald CI to 2.7 CI, emerald CI will keep in this release.
              li
                | Step to submit CI, refer to below
                ul
                  li
                    | If you from Emerald,keep the old way to submit IR:
                    div(class="well well-sm")
                      | git push origin DEV_BRANCH_NAME:IR_Emerald_xxx
                  li  
                    | If you from NonEmrald, use below update  to submit IR:
                    div(class="well well-sm")
                      | git push origin DEV_BRANCH_NAME:IR_2.7_xxx
            
            hr(border-color=black)
            h3(class="text-primary") V1.1:
            h4(class="text-primary") highlight
            ol
              li
                | If your CI request is queued due to some other CI is in progress, you can get it from booster "CI status" sheet
              li
                | Dashboard for CI history can be checked at dashboard tab
            
            hr(border-color=black)
            
            h3(class="text-primary") V1.0:
            h4(class="text-primary") highlight
            ol
              li
                dt CI based on Git
                dd -for 2.7 firmware integration, with the similar experience as 2.6
              li
                dt CI web for status query
                dd -And comment/suggestion submission
              li
                dt Server migrates to Gitlab
                dd -which is the formal server on linux
              
            h4(class="text-primary") Note
            ol
              li
                span 
                  | Prepare the environment (do it once for all),
                  | Refer this docoument                  
                  i(class="fa fa-hand-o-right fa-3x")
                  a(href="/doc/GIT_Server_Guidline.docx")
                    |click me

              li
                | Step to submit CI, refer to below
                ul
                  li
                    | If you from Emerald,remote branch name prefix with IR_Emerald to trigger the CI:
                    div(class="well well-sm")
                      | git push origin DEV_BRANCH_NAME:IR_Emerald_xxx
                  li  
                    | If you from NonEmrald,remote branch name prefix with IR_NonEmerald to trigger the CI:
                    div(class="well well-sm")
                      | git push origin DEV_BRANCH_NAME:IR_nonEmerald_xxx
                        
                 
      div(class="col-sm-6")
        div(class="panel panel-primary")
          div(class="panel-heading")
            h3 <span class="glyphicon glyphicon-edit"></span> Feedback
          div(class="panel-body" style="height:auto")
            ul
              li 
                strong JIRA
                | &nbsp is used to tracking suggestion and issue instead
              br
              li Tips
                ol
                    li
                      | To be simple,only
                      span(style="color:red;") *
                      | &nbsp items is required, ignore other fields you can
                    li Only <strong>Summary</strong> field is required currently, recommand fill your detail in <strong>Description</strong> field
              br
              br
              a(href="http://jira.mot-solutions.com/login.jsp?os_destination=%2Fsecure%2FCreateIssueDetails%21init.jspa%3Fpid%3D11005%26issuetype%3D10201%26components%3D11009" class="btn btn-default btn-lg active" role="button") Start Submit In JIRA
              
    
block userdefinejs
  script(src="/javascripts/index.js")   
  

