doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/html/Infra_Dashboard/css/iframesize.css")
    script(src="/javascripts/jquery.min.js")
  body
 
   div(id = "metric" style="display:none")
        iframe(class = "size_85" frameborder="0" style = "position:absolute;left:0;top:0;margin-top:40px" src="http://engmetrics.mot-solutions.com/report/report.aspx?REPORT_ID=27&RptName=rhcorp&ENTIRE_DATE_FLAG=1&FEAT_EXCLUDE_FLAG=0&LOCATION=ALL&SR_TYPE=1&SCOPE=0&REJ=0&DUP=0&HIDE_CHILD=0&PHASE_CAPT=0&RLS_ID_OPT=1&FREQ=0&EXCLD_PROP=0&URG=0&IMPACTED_FEAT_FLAG=0&LOAD_TARGETS=ALL&SEV=0&CUST_IMP_LEV=0&PAC_LOB_ID=21&ALIAS_ID=0&ALIAS_STR=ALL&SYS_PARAM=MATRIX&SYS_PARAM_STR=MATRIX&PROD_PARAM=SW_Firmware_Repeater&COMP_PARAM=ALL&FA_PARAM=ALL&FEATURE_ID_LIST=ALL&RLS_STR_LIST=MOTOTRBO2.7.0&RLS_ID_LIST=4367&BEG_DATE=&END_DATE=" scrolling="no")
    
   div(id = "boardMain" style="display:none")
        iframe(frameborder="0" width=1024 height=768 style = "position:absolute;left:0;top:0;" src="http://localhost:8181/html/Infra_Dashboard/dashboard.html?project=main" scrolling="no")

   div(id = "board27" style="display:none")
        iframe(frameborder="0" width=1024 height=768 style = "position:absolute;left:0;top:0;" src="http://localhost:8181/html/Infra_Dashboard/dashboard.html?project=2.7" scrolling="no")

block userdefinejs
  script(src="/javascripts/altdisplay.js") 
