extends layout

block content
  div.container-fluid       
    div.row-fluid
      div(class="col-sm-12")
        div(class="panel panel-primary")
          div(class="panel-heading") 
            h3 <span class="glyphicon glyphicon-th-list"></span> klocwork information 
          div(class="panel-body")
            table(class="table table-striped table-bordered table-hover table-condensed" id="kwTbl")
              thead
                tr
                  th(class="text-center") issue ID 
                  th(class="text-center") Release Tag
                  th(class="text-center") Submitter
                  th(class="text-center") time
              tbody(class="text-center" id="klocworkList")
          div(class="hr hr-12")
          div(class="form-group")
            h5 &nbsp&nbsp password:
              input(type="password" id="inputPassword_kw" placeholder="password" maxlength="20")
              | &nbsp&nbsp 
              button(id="submit_btn_kw" type="submit" class="btn btn-primary btn-sm" style="width: 100px") Submit           
            h3(id="cancel_status",class="text-primary")
      

block userdefinejs
  script(src="/javascripts/klocwork.js")   
  

